@page
@model Swapartment.Pages_Rentals.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].PriceTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].isPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].Feedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].Property.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Rental)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isPaid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Feedback)
                </td>
                @* <td>
                    <a asp-page="../Properties/Details" asp-route-id="@item.Property.Id">@Html.DisplayFor(modelItem =>
                    item.Property.Title)</a>
                    </td> *@
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
